---
title: "Attached Button"
chapter: 7
stylesheets:
  - "/stylesheets/chapter7/other_form_styles"
  - "/stylesheets/chapter7/other_attached_button_styles"
  - "/stylesheets/chapter7/attached_button"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:400,600"
---

<form>
  <fieldset>
    <label for="name">Search for something...</label>
    <div class="search-container">
      <input type="text">
      <button>
        <img src="/images/chapter7/search.svg" alt="Search">
      </button>
    </div>
  </fieldset>
</form>
