---
title: "Bio"
chapter: 7
stylesheets:
  - "/stylesheets/chapter7/other_breaking_free_styles"
  - "/stylesheets/chapter7/other_bio_styles"
  - "/stylesheets/chapter7/bio"
---

<section class="bio">
  <figure>
    <img width="90px" height="90px" src="/images/chapter7/profile.svg">
  </figure>
  <p>
    Landon is a developer and entrepreneur based in Seattle. He's the author of the Flexbox Starter Course and Unraveling Flexbox, a book on how to create modern, responsive layouts in CSS.
  </p>
</section>
