---
title: "Credit Card"
chapter: 7
stylesheets:
  - "/stylesheets/chapter7/other_form_styles"
  - "/stylesheets/chapter7/credit_card"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:400,600"
---

<form>
  <h2>Credit Card Form</h2>

  <div class="fieldset">
    <input id="name" type="text" placeholder="Name on Card">
  </div>

  <div class="fieldset input-row">
    <div class="credit-card-number-container">
      <input id="credit-card-number" type="number" placeholder="Credit Card Number">
    </div>
    <div>
      <input id="cvc" type="number" placeholder="CVC">
    </div>
  </div>

  <div class="fieldset input-row">
    <div>
      <input id="expiration-month" type="text" placeholder="Exp. Month">
    </div>
    <div>
      <input id="expiration-year" type="text" placeholder="Exp. Year">
    </div>
  </div>

  <button type="submit">Buy for $99.99</button>
</form>
