---
title: "Chapter 7: Golden Ratio"
chapter: 7
stylesheets:
  - "/stylesheets/chapter7/other_breaking_free_styles"
  - "/stylesheets/chapter7/other_golden_ratio_styles"
  - "/stylesheets/chapter7/golden_ratio"
---

<section>
  <div class="phi-column">ϕ</div>
  <div class="column">1</div>
</section>
