---
title: "Vertical Layout"
chapter: 7
stylesheets:
  - "/stylesheets/chapter7/other_breaking_free_styles"
  - "/stylesheets/chapter7/other_vertical_styles"
  - "/stylesheets/chapter7/vertical"
---

<!-- TODO: Redo this layout. -->
<main>
  <header>Header</header>
  <section>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content
  </section>
  <footer>Footer</footer>
</main>
