body {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background: -webkit-linear-gradient(315deg, #b04, #f80) fixed;
  background: linear-gradient(135deg, #b04, #f80) fixed;
}

p {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.row-container {
  margin: 10px 0;
}

.auto-column p {
  padding-left: 19px;
  padding-right: 19px;
}
