---
title: "Attached Button"
chapter: 6
stylesheets:
  - "/stylesheets/chapter6/other_form_styles"
  - "/stylesheets/chapter6/attached_button"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:400,600"
---

<form>
  <fieldset>
    <label for="name">Search for something...</label>
    <div class="search-container">
      <input type="text">
      <button><img src="/images/chapter6/search.svg" alt="Search"></button>
    </div>
  </fieldset>
</form>
