li {
  display: flex;
  line-height: 30px;
  padding: 15px 20px;
}

li img {
  margin-right: 10px;
}

button {
  display: block;
  width: calc(100% - 40px);
  margin: 20px;
}

.plan {
  margin: 20px;

  /* prevent the margins from collapsing */
  padding-bottom: 1px;
}

@media (min-width: 640px) {
  .pricing {
    display: flex;
    width: 960px;
  }

  .plan {
    flex: 1 1 0px;
    margin: 0;
  }

  .plan:nth-of-type(1), .plan:nth-of-type(3) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .plan:nth-of-type(2) {
    flex-basis: 60px;
  }
}
