---
title: "Pricing"
chapter: 8
responsive: true
stylesheets:
  - "/stylesheets/chapter8/other_responsive_pricing_styles"
  - "/stylesheets/chapter8/responsive_pricing"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:400,700"
---

<section class="pricing">
  <div class="tier">
    <h3>Small</h3>
    <div class="price">$99</div>
    <ul>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Some really cool feature
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        That thing you need
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        Your hopes and dreams
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        Free phone support
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        Weissman Score of 3.41
      </li>
    </ul>
    <button>Sign Up</button>
  </div>
  <div class="tier">
    <h3>Medium</h3>
    <div class="price">$199</div>
    <p class="info">This is the plan for you!</p>
    <ul>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Some really cool feature
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        That thing you need
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Your hopes and dreams
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        Free phone support
      </li>
      <li>
        <img src="/images/chapter5/gray_check.svg" alt="Not Included">
        Weissman Score of 3.41
      </li>
    </ul>
    <p class="info">All the cool kids are doing it!</p>
    <button>Sign Up</button>
  </div>
  <div class="tier">
    <h3>Large</h3>
    <div class="price">$499</div>
    <ul>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Some really cool feature
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        That thing you need
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Your hopes and dreams
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Free phone support
      </li>
      <li>
        <img src="/images/chapter5/green_check.svg" alt="Included">
        Weissman Score of 3.41
      </li>
    </ul>
    <button>Sign Up</button>
  </div>
</section>
