.pricing {
  display: flex;
  width: 960px;
}

.tier {
  flex: 1 1 0px;
}

li {
  display: flex;
  padding: 0 20px;
}

li img {
  margin-right: 10px;
}

button {
  display: block;
  width: calc(100% - 40px);
  margin: 20px;
}

.tier:nth-last-of-type(1), .tier:nth-last-of-type(3) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tier:nth-of-type(2) {
  flex-basis: 60px;
}
