.pricing {
  display: flex;
  width: 960px;
}

.tier {
  flex: 1 1 0px;
}

.tier:nth-last-of-type(1), .tier:nth-last-of-type(3) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tier:nth-of-type(2) {
  position: relative;
  flex: 1 1 60px;
}

li {
  display: flex;
  padding: 0 20px;
}

li img {
  margin-right: 10px;
}

button {
  display: block;
  width: calc(100% - 40px);
  border: none;
  margin: 20px;
  line-height: 60px;
  border-radius: 4px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #19557d;
}
