label, input, button {
  display: block;
  width: 100%;
}

.input-row {
  display: flex;
}

.input-row > * {
  flex: 1 1 0px;
}

.input-row > :first-child {
  margin-right: 10px;
}

.input-row > :last-child {
  margin-left: 10px;
}

.credit-card-number-container {
  flex: 3 3 40px;
}
