label, input, button {
  display: block;
  width: 100%;
}

.fieldset {
  display: flex;
}

.fieldset > * {
  flex: 1 1 0px;
}

.fieldset > * {
  margin-left: 10px;
  margin-right: 10px;
}

.fieldset > :first-child {
  margin-left: 0;
}

.fieldset > :last-child {
  margin-right: 0;
}

.credit-card-number-container {
  flex: 3 3 40px;
}
