label {
  display: block;
}

input {
  display: none;
}

.multi-button {
  border: 1px solid #513681;
  background: linear-gradient(to bottom, #905ae3, #784bc0);
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;

  display: flex;
}

.multi-button label {
  text-align: center;
  margin-bottom: 0;
  line-height: 30px;
  padding: 4px;
  user-select: none;

  flex: 1 1 0px;
}

.multi-button label:not(:first-of-type) {
  box-shadow: inset 1px 0 #513681;
}

input:checked + label {
  background-color: rgba(0, 0, 0, 0.25);;
}
