---
title: "Grid System"
chapter: 13
stylesheets:
  - "/stylesheets/chapter13/grid_system"
  - "/stylesheets/chapter13/other_twelve_column_grid_system_styles"
fonts:
  - "http://fonts.googleapis.com/css?family=Raleway:300"
---

<section class="column-container">
  <div class="column gutter">
    <p>One Third</p>
  </div>
  <div class="column gutter">
    <p>One Third</p>
  </div>
  <div class="column gutter">
    <p>One Third</p>
  </div>
</section>

<section class="column-container">
  <div class="column gutter">
    <p>One Half</p>
  </div>
  <div class="column gutter">
    <p>One Half</p>
  </div>
</section>

<section class="column-container">
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
</section>

<section class="column-container">
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
</section>

<section class="column-container">
  <div class="two-column gutter">
    <p>One Half</p>
  </div>
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
  <div class="column gutter">
    <p>One Fourth</p>
  </div>
</section>

<section class="column-container">
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
  <div class="four-column gutter">
    <p>Two Thirds</p>
  </div>
  <div class="column gutter">
    <p>One Sixth</p>
  </div>
</section>

<section class="column-container">
  <div class="auto-column gutter">
    <p>Auto Column</p>
  </div>
  <div class="column gutter">
    <p>One</p>
  </div>
</section>

<section class="column-container">
  <div class="auto-column gutter">
    <p>Auto Column with More Content</p>
  </div>
  <div class="column gutter">
    <p>One Half</p>
  </div>
  <div class="column gutter">
    <p>One Half</p>
  </div>
</section>
