---
title: "Video Player with Grid System"
chapter: 13
stylesheets:
  - "/stylesheets/chapter13/grid_system"
  - "/stylesheets/chapter2/other_video_player_styles"
  - "/stylesheets/chapter13/video_player_grid_system"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:300"
---

<div class="video-player">
  <img width="960" height="540" src="/images/chapter2/shrek.jpg">

  <div class="controls-container">
    <div class="controls">
      <div class="top-controls column-container">
        <div class="volume-controls column">
          <button><img alt="Low Volume" src="/images/chapter2/low_volume.svg"></button>
          <input type="range">
          <button><img alt="High Volume" src="/images/chapter2/high_volume.svg"></button>
        </div>
        <div class="playback-controls auto-column">
          <button><img alt="Rewind" src="/images/chapter2/rewind.svg"></button>
          <button><img alt="Play" src="/images/chapter2/play.svg"></button>
          <button><img alt="Fast Forward" src="/images/chapter2/fast_forward.svg"></button>
        </div>
        <div class="sharing-controls column">
          <button><img alt="Fullscreen" src="/images/chapter2/fullscreen.svg"></button>
        </div>
      </div>
      <div class="column-container">
        <span class="time-elapsed auto-column">00:00:00</span>
        <input type="range" class="column">
        <span class="time-remaining auto-column">01:14:26</span>
      </div>
    </div>
  </div>
</div>
