.row-container {
  display: flex;
  flex-direction: column;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.row-container > .row, .column-container > .column {
  flex: 1 1 0px;
}

$numbers: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);

@for $index from 1 through length($numbers) {
  $number: nth($numbers, $index);

  .row-container > .#{ $number }-row, .column-container > .#{ $number }-column {
    flex: $index $index 0px;
  }
}

.row-container > .auto-row, .column-container > .auto-column {
  flex: 0 0 auto;
}

$gutter-size: 20px !default;

.gutter > * {
  margin-left: $gutter-size / 2;
  margin-right: $gutter-size / 2;
}
