.video-player {
  position: relative;
}

.controls-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.controls {
  width: 480px;
  margin-bottom: 32px;
  padding: 12px 4px;
}

.top-controls {
  margin-bottom: 8px;
}

.volume-controls {
  display: flex;
}

.playback-controls {
  display: flex;
  align-items: center;
}

.sharing-controls {
  display: flex;
  justify-content: flex-end;
}

button, .time-elapsed, .time-remaining {
  margin: 0 8px;
}
