label, input, button {
  display: block;
}

.fieldset, button {
  margin: 20px 0;
}

.input-row {
  display: flex;
}

input, button {
  width: 100%;
}

.credit-card-number-container {
  flex: 3 3 40px;
}

.cvc-container, .expiration-month-container, .expiration-year-container {
  flex: 1 1 0px;
}

.input-row > :first-child {
  margin-right: 10px;
}

.input-row > :last-child {
  margin-left: 10px;
}
