section {
  max-width: 740px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  margin: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
}

section:nth-of-type(5) .column:first-of-type {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
  -webkit-flex-basis: 22px;
      -ms-flex-preferred-size: 22px;
          flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-flex-shrink: 4;
      -ms-flex-negative: 4;
          flex-shrink: 4;
  -webkit-flex-basis: 66px;
      -ms-flex-preferred-size: 66px;
          flex-basis: 66px;
}
