html, body, section {
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 660px;
}

img {
  width: 150px;
  height: auto;
  margin: 10px;
}
