.month {
  max-width: 560px;
  margin: 20px auto;
}

.week {
  height: 80px;
}

.day {
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  box-shadow:
    -1px -1px #F9A440,
    inset -1px -1px 0 0 #F9A440;
}
