---
title: "Chapter 9: Horizontal Photos"
chapter: 9
stylesheets:
  - "/stylesheets/chapter9/other_photo_styles"
  - "/stylesheets/chapter9/horizontal_photos"
---

<section>
  <img src="/images/chapter9/photo1.jpg" alt="Photo 1">
  <img src="/images/chapter9/photo2.jpg" alt="Photo 2">
  <img src="/images/chapter9/photo3.jpg" alt="Photo 3">
  <img src="/images/chapter9/photo4.jpg" alt="Photo 4">
  <img src="/images/chapter9/photo5.jpg" alt="Photo 5">
  <img src="/images/chapter9/photo6.jpg" alt="Photo 6">
  <img src="/images/chapter9/photo7.jpg" alt="Photo 7">
  <img src="/images/chapter9/photo8.jpg" alt="Photo 8">
  <img src="/images/chapter9/photo9.jpg" alt="Photo 9">
  <img src="/images/chapter9/photo10.jpg" alt="Photo 10">
  <img src="/images/chapter9/photo11.jpg" alt="Photo 11">
  <img src="/images/chapter9/photo12.jpg" alt="Photo 12">
  <img src="/images/chapter9/photo13.jpg" alt="Photo 13">
  <img src="/images/chapter9/photo14.jpg" alt="Photo 14">
  <img src="/images/chapter9/photo15.jpg" alt="Photo 15">
  <img src="/images/chapter9/photo16.jpg" alt="Photo 16">
  <img src="/images/chapter9/photo17.jpg" alt="Photo 17">
  <img src="/images/chapter9/photo18.jpg" alt="Photo 18">
  <img src="/images/chapter9/photo19.jpg" alt="Photo 19">
  <img src="/images/chapter9/photo20.jpg" alt="Photo 20">
  <img src="/images/chapter9/photo21.jpg" alt="Photo 21">
</section>
