---
title: "Bio"
chapter: 5
stylesheets:
  - "/stylesheets/chapter5/other_breaking_free_styles"
  - "/stylesheets/chapter5/other_bio_styles"
  - "/stylesheets/chapter5/bio"
---

<section class="bio">
  <figure>
    <img width="90" height="90" src="/images/chapter5/profile.svg" alt="Profile">
  </figure>
  <p>
    Landon is a developer and entrepreneur based in Seattle. He's the author of the Flexbox Starter Course and Unraveling Flexbox, a book on how to create modern, responsive layouts in CSS.
  </p>
</section>
