---
title: "Golden Ratio"
chapter: 5
stylesheets:
  - "/stylesheets/chapter5/other_breaking_free_styles"
  - "/stylesheets/chapter5/other_golden_ratio_styles"
  - "/stylesheets/chapter5/golden_ratio"
---

<section>
  <div class="phi-column"></div>
  <div class="column">
    <div class="phi-row"></div>
    <div class="row">
      <div class="column">
        <div class="row">
          <div class="phi-column"></div>
          <div class="column">
            <div class="phi-row"></div>
            <div class="row">
              <div class="column">
                <div class="row">
                  <div class="phi-column"></div>
                  <div class="column">
                    <div class="phi-row"></div>
                    <div class="row">
                      <div class="column">
                        <div class="row"></div>
                        <div class="phi-row"></div>
                      </div>
                      <div class="phi-column"></div>
                    </div>
                  </div>
                </div>
                <div class="phi-row"></div>
              </div>
              <div class="phi-column"></div>
            </div>
          </div>
        </div>
        <div class="phi-row"></div>
      </div>
      <div class="phi-column"></div>
    </div>
  </div>
</section>
