---
title: "Golden Ratio"
chapter: 5
stylesheets:
  - "/stylesheets/chapter5/other_breaking_free_styles"
  - "/stylesheets/chapter5/other_golden_ratio_styles"
  - "/stylesheets/chapter5/golden_ratio"
---

<section>
  <div class="phi-column">ϕ</div>
  <div class="column">1</div>
</section>
