---
title: "Vertical Layout"
chapter: 5
stylesheets:
  - "/stylesheets/chapter5/other_breaking_free_styles"
  - "/stylesheets/chapter5/other_vertical_styles"
  - "/stylesheets/chapter5/vertical"
---

<main>
  <header>Header</header>
  <section>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content<br>
    Content
  </section>
  <footer>Footer</footer>
</main>
