---
title: "Button"
chapter: 10
stylesheets:
  - "/stylesheets/chapter10/button"
fonts:
  - "http://fonts.googleapis.com/css?family=Open+Sans:400,700"
---

<button type="button">Progressive Enhancement</button>
